<!DOCTYPE html>
<html>
<body>
    <h2>New Login Detected</h2>
    <p>Hello {{name}},</p>
    <p>We detected a new login to your account from a new device.</p>
    <ul>
        <li><strong>Device:</strong> {{device}}</li>
        <li><strong>IP Address:</strong> {{ipAddress}}</li>
        <li><strong>Location:</strong> {{location}}</li>
        <li><strong>Time:</strong> {{time}}</li>
    </ul>
    <p>If this was you, you can ignore this email. If you did not authorize this login, please change your password immediately.</p>
    <p>Regards,<br/>{{companyName}}</p>
</body>
</html>